@model Vidly.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>

@using (Html.BeginForm("Save", "Customers"))
{
    <div class="form-group">

        <label for="name">Name</label>
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control", @id = "name" })
    </div>
    <div class="form-group">
        <label for="@Html.NameFor(m => m.Customer.BirthDate)">Date of birth</label>
        @Html.TextBoxFor(m => m.Customer.BirthDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @id = @Html.NameFor(m => m.Customer.BirthDate) })
    </div>
    <div class="form-group">
        <label for="@Html.NameFor(m => m.Customer.MembershipTypeId)">Membership Type</label>
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control", @id = @Html.NameFor(m => m.Customer.BirthDate) })
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsLetter) Subscribe to newsletter?
        </label>
    </div>
    @Html.HiddenFor(m => m.Customer.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}